
   header {
    background-color: #0dcaf0bf;
    color: #fff;
    text-align: center;
    padding: 1px 0;
  }
  
  
  footer {
    background-color: #198487;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  